<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- 대리점 코드 있는 장애내역 -->
    <table th:fragment="incidentTableWithAgencyId(incidentList)" class="table fs-6 incidentTable">
        <thead>
            <tr>
                <th>id</th>
                <th>접수일</th>
                <th>완료일</th>
                <th>처리방법</th>
                <th>처리상태</th>
                <th>장애타입</th>
                <th>고객이름</th>
                <th>고객전화번호</th>
                <th>특이사항</th>
                <th>대리점 코드</th>
                <th>대리점 이름</th>
                <th>엔지니어 아이디</th>
                <th>엔지니어 이름</th>
                <th>엔지니어 상태</th>
                <!--                <th>정기점검 여부</th>-->
                <th>담당직원 id</th>
                <th>담당직원 이름</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="incident : ${incidentList}">
                <td th:text="${incident.getIncidentId()}">id</td>
                <td th:text="${#temporals.format(incident.getCreateDate(), 'yyyy-MM-dd HH:mm')}">접수일</td>
                <td th:text="${#temporals.format(incident.getCompletionDate(), 'yyyy-MM-dd HH:mm')}">완료일</td>
                <td th:text="${incident.getProcessMethod().getValue()}">처리방법</td>
                <td th:text="${incident.getProcessStatus().getValue()}">처리상태</td>
                <td th:text="${incident.getIncidentType().getLarge() + ' / ' + incident.getIncidentType().getMedium() + ' / ' + incident.getIncidentType().getSmall()}">장애타입</td>
                <td th:text="${incident.getCustomerName()}">고객이름</td>
                <td th:text="${incident.getCustomerPhone()}">고객전화번호</td>
                <td class="note text-break"  th:text="${incident.getText()}">특이사항</td>
                <td th:text="${incident.getAgencyCode()}">대리점 코드</td>
                <td th:text="${incident.getAgencyName()}">대리점 이름</td>
                <td th:text="${incident.getEngineerId()}">엔지니어 아이디</td>
                <td th:text="${incident.getEngineerName()}">엔지니어 이름</td>
                <td th:text="${incident.getEngineerStatus()}">엔지니어 상태</td>
                <!--                    <td th:text="${incident.get}">정기점검 여부</td>-->
                <td th:text="${incident.getEmployeeId()}">담당직원 id</td>
                <td th:text="${incident.getEmployeeName()}">담당직원 이름</td>
            </tr>
        </tbody>
    </table>

    <!--대리점 정보 없는 장애 테이블-->
    <table th:fragment="incidentTableWithoutAgencyId(incidentList)" class="table fs-6  align-middle mt-3 incidentTable">
        <thead>
            <tr>
                <th>id</th>
                <th>접수일</th>
                <th>완료일</th>
                <th>처리방법</th>
                <th>처리상태</th>
                <th>장애타입</th>
                <th>고객이름</th>
                <th>고객전화번호</th>
                <th>특이사항</th>
                <th>엔지니어 아이디</th>
                <th>엔지니어 이름</th>
                <!--                <th>정기점검 여부</th>-->
            </tr>
        </thead>
        <tbody>
            <tr th:each="incident : ${incidentList}">
                <td th:text="${incident.getIncidentId()}">id</td>
                <td th:text="${#temporals.format(incident.getCreateDate(), 'yyyy-MM-dd HH:mm')}">접수일</td>
                <td th:text="${#temporals.format(incident.getCompletionDate(), 'yyyy-MM-dd HH:mm')}">완료일</td>
                <td th:text="${incident.getProcessMethod().getValue()}">처리방법</td>
                <td th:text="${incident.getProcessStatus().getValue()}">처리상태</td>
                <td th:text="${incident.getIncidentType().getLarge() + ' / ' + incident.getIncidentType().getMedium() + ' / ' + incident.getIncidentType().getSmall()}">장애타입</td>
                <td th:text="${incident.getCustomerName()}">고객이름</td>
                <td th:text="${incident.getCustomerPhone()}">고객전화번호</td>
                <td class="note text-break"  th:text="${incident.getText()}">특이사항</td>
                <td th:text="${incident.getEngineerId()}">엔지니어 아이디</td>
                <td th:text="${incident.getEngineerName()}">엔지니어 이름</td>
                <!--                    <td th:text="${incident.get}">정기점검 여부</td>-->
            </tr>
        </tbody>
    </table>
</body>
</html>