<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="defaultPaging(path, paging)" style="text-align: center">
        <div style="display: inline-block">
            <!--하단 네비게이션-->
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    <th:block>
                        <li class="page-item" th:classappend="${!paging.isEnablePrev() ? 'disabled' : _}">
                            <a class="page-link" href="#" th:href="@{${path}(page=1)}" aria-label="First">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li class="page-item" th:classappend="${!paging.isEnablePrev() ? 'disabled' : _}">
                            <a class="page-link" href="#" th:href="@{${path}(page=${paging.getCurrentPage()}-1)}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                    </th:block>

                    <th:block th:each="number:${#numbers.sequence(paging.getStartPage(), paging.getEndPage())}">
                        <li class="page-item" th:if="${number==paging.getCurrentPage()}" th:classappend="active">
                            <a class="page-link" href="#" th:href="@{${path}(page=${number})}" th:text="${number}">1</a>
                        </li>
                        <li class="page-item" th:if="${number!=paging.getCurrentPage()}" th:classappend="${number > paging.getMaxSize() ? 'disabled' : _}">
                            <a class="page-link" href="#" th:href="@{${path}(page=${number})}" th:text="${number}">1</a>
                        </li>
                    </th:block>

                    <th:block>
                        <li class="page-item" th:classappend="${!paging.isEnableNext() ? 'disabled' : _}">
                            <a class="page-link" href="#" th:href="@{${path}(page=${paging.getCurrentPage()}+1)}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${!paging.isEnableNext() ? 'disabled' : _}">
                            <a class="page-link" href="#" th:href="@{${path}(page=${paging.getMaxSize()})}" aria-label="End">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </div>
    </div>

    <div th:fragment="searchPaging(type, keyword, paging)" style="display: inline-block">
        <!--하단 네비게이션-->
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                <th:block>
                    <li class="page-item" th:classappend="${!paging.isEnablePrev() ? 'disabled' : _}">
                        <a class="page-link" href="#" th:href="@{search(page=1, type=${type}, keyword=${keyword})}" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${!paging.isEnablePrev() ? 'disabled' : _}">
                        <a class="page-link" href="#" th:href="@{search(page=${paging.getCurrentPage()}-1, type=${type}, keyword=${keyword})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                </th:block>

                <th:block th:each="number:${#numbers.sequence(paging.getStartPage(), paging.getEndPage())}">

                    <th:block th:if="${number <= paging.getMaxSize()}">

                        <li class="page-item" th:if="${number==paging.getCurrentPage()}" th:classappend="active">
                            <a class="page-link" href="#" th:href="@{search(page=${number}, type=${type}, keyword=${keyword})}" th:text="${number}">1</a>
                        </li>
                        <li class="page-item" th:if="${number!=paging.getCurrentPage()}" th:classappend="${number > paging.getMaxSize() ? 'disabled' : _}">
                            <a class="page-link" href="#" th:href="@{search(page=${number}, type=${type}, keyword=${keyword})}" th:text="${number}">1</a>
                        </li>
                    </th:block>
                    <th:block th:unless="${number <= paging.getMaxSize()}">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" th:text="${number}">1</a>
                        </li>
                    </th:block>
                </th:block>

                <th:block>
                    <li class="page-item" th:classappend="${!paging.isEnableNext() ? 'disabled' : _}">
                        <a class="page-link" href="#" th:href="@{search(page=${paging.getCurrentPage()}+1, type=${type}, keyword=${keyword})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.isEnableNext() ? 'disabled' : _}">
                        <a class="page-link" href="#" th:href="@{search(page=${paging.getMaxSize()}, type=${type}, keyword=${keyword})}" aria-label="End">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </th:block>
            </ul>
        </nav>
    </div>
</body>
</html>